<header>
  <div class="bg-light py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12 text-center text-md-start">
          <span> Super Value Deals - Save more with coupons</span>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-light py-lg-4 pt-3 px-0 pb-0">
    <div class="container">
      <div class="row w-100 align-items-center g-lg-2 g-0">
        <div class="col-xxl-2 col-lg-3">
          <a class="navbar-brand d-none d-lg-block" routerLink="/">
            <img
              src="/assets/images/logo/freshcart-logo.svg"
              alt="eCommerce HTML Template"
            />
          </a>
          <div class="d-flex justify-content-between w-100 d-lg-none">
            <a class="navbar-brand" routerLink="/">
              <img
                src="/assets/images/logo/freshcart-logo.svg"
                alt="eCommerce HTML Template"
              />
            </a>
            <div class="d-flex align-items-center lh-1">
              <!-- Button -->
              <button
                (click)="showHamburgerMenu()"
                class="navbar-toggler collapsed"
                type="button"
                aria-controls="navbar-default"
                aria-label="Toggle navigation"
              >
                <span class="icon-bar top-bar mt-0"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="border-bottom pb-lg-4 pb-3">
  <nav class="navbar navbar-expand-lg navbar-light navbar-default py-0 pb-0">
    <div class="container px-0 md-2">
      <div
        class="offcanvas offcanvas-start p-4 p-lg-0"
        [ngClass]="{ show: hamburgerMenu$ | async }"
      >
        <div
          class="d-flex justify-content-between align-items-center mb-2 d-block d-lg-none"
        >
          <a routerLink="/"
            ><img
              src="/assets/images/logo/freshcart-logo.svg"
              alt="eCommerce HTML Template"
            />
          </a>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="hideHamburgerMenu()"
          ></button>
        </div>

        <div class="d-block">
          <ul class="navbar-nav">
            <!--mega menu-->
            <li class="nav-item dropdown dropdown-fullwidth">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="true"
                >Mega menu</a
              >
              <div class="dropdown-menu pb-0" data-bs-popper="static">
                <div class="row p-2 p-lg-4">
                  <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                    <h6 class="text-primary ps-3">Dairy, Bread & Eggs</h6>
                    <div *ngFor="let item of dairyAndBread$ | async">
                      <a class="dropdown-item" routerLink="categories/2">{{
                        item
                      }}</a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                    <h6 class="text-primary ps-3">Breakfast & Instant Food</h6>
                    <div *ngFor="let item of breakfast$ | async">
                      <a class="dropdown-item" routerLink="categories/2">{{
                        item
                      }}</a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                    <h6 class="text-primary ps-3">Cold Drinks & Juices</h6>
                    <div *ngFor="let item of coldDrinks$ | async">
                      <a class="dropdown-item" routerLink="categories/2">{{
                        item
                      }}</a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                    <div class="card border-0">
                      <img
                        src="assets/images/banner/menu-banner.jpg"
                        alt="eCommerce HTML Template"
                        class="img-fluid"
                      />
                      <div class="position-absolute ps-6 mt-8">
                        <h5 class="mb-0">
                          Don't miss this
                          <br />
                          offer today.
                        </h5>
                        <a href="#" class="btn btn-primary btn-sm mt-3"
                          >Shop Now</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li *ngFor="let item of categoriesList$ | async" class="nav-item">
              <a
                routerLink="categories/{{ item.id }}"
                class="nav-link"
                (click)="hideHamburgerMenu()"
                >{{ item.name }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
