<main *ngIf="oneProduct$ | async as oneProduct">
  <div class="mt-4">
    <div class="container">
      <!-- row -->
      <div class="row" >
        <!-- col -->
        <div class="col-12">
          <!-- breadcrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="categories/{{ oneProduct.categoryId }}"
                  >category name</a
                >
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ oneProduct.name }}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <section class="mt-8">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="product-mw" class="tns-ovh">
            <img src="{{ oneProduct.imageUrl }}" width="500px" height="500px" />
          </div>
        </div>

      <div class="col-md-6">
        <div class="ps-lg-10 mt-6 mt-md-0">
          <!-- content -->
          <a href="">Category name</a>
          <!-- heading -->
          <h1 class="mb-1">{{ oneProduct.name }}</h1>
          <div class="mb-4">
            <!-- rating -->
            <small class="text-warning">
              <i
                *ngFor="let val of oneProduct.ratingOptions"
                class="bi"
                [ngClass]="{
                  'bi-star-fill': val === 1,
                  'bi-star': val === 0,
                  'bi-star-half': val === 0.5
                }"
              ></i>
            </small>
            <span class="text-muted small"
              >{{ oneProduct.ratingValue }}({{ oneProduct.ratingCount }})</span
            >
          </div>
          <span class="fw-bold text-dark">{{
            oneProduct.price | currency
          }}</span>
          <hr class="my-6" />
          <div class="input-group input-spinner">
            <input
              type="button"
              value="-"
              class="button-minus btn btn-sm"
              data-field="quantity"
            />
            <input
              type="number"
              step="1"
              max="10"
              value="1"
              name="quantity"
              class="quantity-field form-control-sm form-input"
            />
            <input
              type="button"
              value="+"
              class="button-plus btn btn-sm"
              data-field="quantity"
            />
          </div>
          <div class="mt-3 row justify-content-start g-2 align-items-center">
            <div class="col-xxl-4 col-lg-4 col-md-5 col-5 d-grid">
              <button type="button" class="btn btn-primary">
                <i class="feather-icon icon-shopping-bag me-2"> </i>
                Add to cart
              </button>
            </div>
            <div class="col-md-4 col-4">
              <a
                class="btn btn-light"
                href="/whish-list"
                data-bs-toggle="tooltip"
                data-bs-html="true"
                aria-label="Wishlist"
              >
                <i class="feather-icon icon-heart"></i>
              </a>
            </div>
          </div>
          <hr class="my-6" />
          <div>
            <table class="table table-borderless mb-0">
              <tbody>
                <tr>
                  <td>Product Code:</td>
                  <td>FBBHGT5678</td>
                </tr>
                <tr>
                  <td>Availability:</td>
                  <td>In Stock</td>
                </tr>
                <tr>
                  <td>Type:</td>
                  <td>'name of Category here'</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div></div>
      </div>
    </div>
    </div>
  </section>

  <section class="mt-lg-14 mt-8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills nav-lb-tab" id="myTab" role="tablist">
            <!-- nav-item -->
            <li class="nav-item" role="presentation">
              <!-- btn -->
              <button
                class="nav-link active"
                id="product-tab"
                data-bs-toggle="tab"
                data-bs-target="#product-tab-pane"
                type="button"
                role="tab"
                aria-controls="product-tab-pane"
                aria-selected="true"
              >
                Product Details
              </button>
            </li>
            <!-- nav-item -->
            <li class="nav-item" role="presentation">
              <!-- btn -->
              <button
                class="nav-link"
                id="details-tab"
                data-bs-toggle="tab"
                data-bs-target="#details-tab-pane"
                type="button"
                role="tab"
                aria-controls="details-tab-pane"
                aria-selected="false"
                tabindex="-1"
              >
                Information
              </button>
            </li>
            <!-- nav-item -->
            <li class="nav-item" role="presentation">
              <!-- btn -->
              <button
                class="nav-link"
                id="reviews-tab"
                data-bs-toggle="tab"
                data-bs-target="#reviews-tab-pane"
                type="button"
                role="tab"
                aria-controls="reviews-tab-pane"
                aria-selected="false"
                tabindex="-1"
              >
                Reviews
              </button>
            </li>
          </ul>
          <!-- tab content -->
          <div
            class="tab-pane fade active show"
            id="product-tab-pane"
            role="tabpanel"
            aria-labelledby="product-tab"
            tabindex="0"
          >
            <div class="my-8">
              <div class="mb-5">
                <!-- text -->
                <h4 class="mb-1">Nutrient Value & Benefits</h4>
                <p class="mb-0">
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nisi, tellus iaculis urna bibendum in lacus, integer. Id
                  imperdiet vitae varius sed magnis eu nisi nunc sit. Vel,
                  varius habitant ornare ac rhoncus. Consequat risus facilisis
                  ante ipsum netus risus adipiscing sagittis sed. Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit."
                </p>
              </div>
              <div class="mb-5">
                <h5 class="mb-1">Storage Tips</h5>
                <p class="mb-0">
                  "Nisi, tellus iaculis urna bibendum in lacus, integer. Id
                  imperdiet vitae varius sed magnis eu nisi nunc sit. Vel,
                  varius habitant ornare ac rhoncus. Consequat risus facilisis
                  ante ipsum netus risus adipiscing sagittis sed.Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit. "
                </p>
              </div>
              <!-- content -->
              <div class="mb-5">
                <h5 class="mb-1">Unit</h5>
                <p class="mb-0">3 units</p>
              </div>
              <div class="mb-5">
                <h5 class="mb-1">Seller</h5>
                <p class="mb-0">DMart Pvt. LTD</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
